<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'UserApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'UserApp/css/style.css' %}">
</head>
<body>
    {% include 'UserApp/layout/navbar.html' %}
    {% block content %}{% endblock %}

    <script src="{% static 'UserApp/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'UserApp/js/script.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>