<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label>
        <input type="text" name="password" id="password"><br>
        <input type="submit" value="Submit">
    </form>
    {% if username and password %}
        <h2>{{username}}</h2>
        <h2>{{password}}</h2>
    {% endif %}
</body>
</html>