{% extends 'UserApp/layout/base.html' %}

{% block content %}

<section class="container py-2">
    <div class="d-flex justify-content-center">
        <form action="/app/forgate_password/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class=" form-control">
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" name="password" id="password" class=" form-control">
                </div>
                <div class="col-12">
                    <label for="c_password" class="form-label">Confirm Password</label>
                    <input type="password" name="c_password" id="c_password" class=" form-control">
                </div>
            </div>
            <div class="py-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}