{% extends 'App/layout/contentBlock.html' %}

{% block mainContent %}

<div class="container d-flex justify-content-center">
    <div class="inner">
        <div class="form-container">
            <form class="rounded p-2">
                {% csrf_token %}
                {% block form_fields %}{% endblock %}
                <div class="row py-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-5">
            {% block result %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
